@import 'colors';

$color1: darken(desaturate(adjust-hue($color, -8.7179), 70.3115), 7.6471);

.boxList
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.box
{
	display: inline-block;
	
	float: right;
	margin-right: 0.5rem;

	box-shadow: 0 5px 8px 0 #A7A7A7;
	background-color: #FFFFFF;

	border-top: 0.3rem solid $color;
	border-radius: 4px;
	pointer-events: auto;

}

.chat
{
	height: 22rem;
	width: 19rem;

	margin-top: 5rem;
}


.contact
{
	height: 27rem;
	width: 19rem;
}


.box > ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 100%;
}

.box .title
{
	height: 2.5rem;
	width: 100%;
	border-bottom: 0.1rem solid #C6C6C6;
	margin: 0;
	box-sizing: border-box;
	cursor: pointer;

	background: #E1E1E1;

	// background: $color;
	// color: #FFFFFF;
}

.box .title:hover
{
	background: #D9D9D9;
}

.selected .title
{
	background: lighten(desaturate(adjust-hue(#3d3737, 0.0000), 5.1724), 9.0196);
	color: #FFFFFF;
}

.selected .title:hover
{
	background: lighten(desaturate(adjust-hue(#3d3737, 0.0000), 3.2677), 18.4314);
}




.box .content
{
	height: calc(100% - 5rem);
	width: 100%;
	border-bottom: 0.1rem solid #F0F0F0;
	margin: 0;
	box-sizing: border-box;
	// padding: 5%;

	overflow-y: scroll;
}

.contact .content ul
{
	padding: 0;
	list-style-type: none;
}

.contact .content ul li
{
	padding: 5%;
	box-sizing: border-box;
	border-bottom: 0.1rem solid #F0F0F0;
	color: #686868;
	cursor: pointer;

}

.contact .content ul li:hover
{
	background: #F8F8F8;

}

.chat .content
{
	padding: 5%;
}

.box .input
{
	height: 2.5rem;
	width: 100%;
	border-top: 0.1rem solid #F0F0F0;
	margin: 0;
	box-sizing: border-box;
}

.box .input input
{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	border: none;
	padding: 0;
	padding: 0.5rem 0.4rem;
	color: #656565;
}

.box .input input:focus
{
	outline: none;
}


.box .title > ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	height: 100%;
	width: 100%;
}

.box .title > ul > li
{	
	height: 100%;
	display: inline-flex;
    align-items: center;
}


.box .title .name div
{
	margin-left: 0.7rem;
	font-size: 1.2rem;
}

.box .title .alert div
{
	margin-left: 0.2rem;
	font-size: 0.9rem;
	background: $color;
	color: #FFFFFF;
	border-radius: 25px;
	padding: 0.17rem 0.45rem 0.17rem 0.45rem;

	position: relative;
    bottom: 0.11em;
    font-weight: bold;
}

.box .title .closeIcon
{
	float: right;
	padding-right: 0.3rem;
}

.box .title .closeIcon > svg
{
	fill: #9A9898;
	width: 0.7rem; 
	height: 0.7rem;
	padding: 0.35rem;
}

.box .title .closeIcon > svg:hover
{
	fill: #414141;
	width: 0.7rem; 
	height: 0.7rem;
}

.msg
{
	margin-bottom: 3%;
}

.msg > ul
{
	list-style-type: none;
	padding: 0;
}

.msg .topLevel > ul
{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

.msg .topLevel > ul > li
{
	display: inline-block;
}

.msg .topLevel li
{
	font-size: 0.75rem;
	// height: 20px;
}

.msg .time
{
	color: #7F7F7F;
}

.msg .senderName
{
	font-weight: 600;
}

.sent .senderName
{
	float: right;
}

.sent .time
{
	float: left;
}

.received .senderName
{
	float: left;
}

.received .time
{
	float: right;
}

.msg .bottomLevel
{
	margin-top: 3%;
}

.msg .bottomLevel ul
{
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.msg .bottomLevel ul > li
{
	display: inline-block;
}

.sent .bottomLevel .senderPic
{
	float: right;
	width: 23%;
}

.sent .bottomLevel .msgContent
{
	float: left;
	width: 66%;

	margin: 4% 5% 2% 2%;

	background: $color;
	color: #E6E2E2;
}

.received .bottomLevel .senderPic
{
	float: left;
	width: 23%;
}

.received .bottomLevel .msgContent
{
	float: right;
	width: 66%;

	margin: 4% 2% 2% 5%;

	background: lighten(desaturate(adjust-hue($color1, 0.0000), 5.1724), 49.4118);
}

.msg .bottomLevel .msgContent
{
	font-size: 0.9rem;
	padding: 2%;
	// border-radius: 10%;
}

.msg .bottomLevel .senderPic img
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}


// ::-webkit-scrollbar {
//      width: 8px;
// }
 
// ::-webkit-scrollbar-track {
//     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     // background: #7F7F7F;
//     border-radius: 10px; 

// }
 
// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     width: 3px;
//     background: #B6B6B6;

//     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 

//     // margin: 2px;
// }

.hidden .content, .hidden .input
{
	display:none;
}

.hidden
{
	height: 2.5rem;
	margin-top: 24.5rem;
	width: 13rem;
}

.hidden .title
{
	height: 100%;
}