<div class='navBar'>
	<ul>
		<li class="floatLeft dot selected"><a href=''>Home</a></li>
		<li class="floatLeft dot"><a href=''>Chat</a></li>
		<li class="floatLeft dot"><a href=''>Leaderboard</a></li>
		<li class="floatLeft"><a href=''>Play</a></li>
		<li class="floatRight"><a href=''>Logout</a></li>
		<li class="floatRight dot"><a href=''>Profile</a></li>
	</ul>
</div>

<div class="boxList">

	<div class="contact box">
		<ul><li class="title"><ul><li class="name"><div>Contacts</div></li></ul></li><li class="content"><ul><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li><li>Jan Henčič</li></ul></li><li class="input"><input type="text" placeholder="Search contacts"></li></ul>
	</div>

	<div class="chat box">
		<ul><li class="title"><ul><li class="name"><div>Jan Jurman</div></li><li class="alert"><div>3</div></li><li class="closeIcon"><?xml version="1.0" encoding="iso-8859-1"?> <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 28 28" style="enable-background:new 0 0 28 28;" xml:space="preserve"> <g> <g id="x"> <g> <polygon  points="28,22.398 19.594,14 28,5.602 22.398,0 14,8.402 5.598,0 0,5.602 8.398,14 0,22.398 5.598,28 14,19.598 22.398,28 			"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
			</li></ul></li><li class="content"><div class="msg received"><ul><li class="topLevel"><ul><li class="senderName">Jan Jurman</li><li class="time">23 Jan 2:00 pm</li></ul></li><li class="bottomLevel"><ul><li class="msgContent">To si res sam dzajniral? Pa ti si neverjeten Henčič!</li><li class="senderPic"><img src="/images/jurman.jpg"></li></ul></li></ul></div><div class="msg sent"><ul><li class="topLevel"><ul><li class="senderName">Jan Henčič</li><li class="time">23 Jan 2:00 pm</li></ul></li><li class="bottomLevel"><ul><li class="msgContent">Jap. Skoda da nisi taki mojster ko jas...</li><li class="senderPic"><img src="/images/hencic.jpg"></li></ul></li></ul></div><div class="msg received"><ul><li class="topLevel"><ul><li class="senderName">Jan Jurman</li><li class="time">23 Jan 2:00 pm</li></ul></li><li class="bottomLevel"><ul><li class="msgContent">Res je! Moram se še dosti naučit.</li><li class="senderPic"><img src="/images/jurman.jpg"></li></ul></li></ul></div></li><li class="input"><input type="text" placeholder="Type a message"></li></ul>
	</div>


	<div class="chat box">
		<ul><li class="title"><ul><li class="name"><div>Jan Jurman</div></li><li class="alert"><div>3</div></li><li class="closeIcon"><?xml version="1.0" encoding="iso-8859-1"?> <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 28 28" style="enable-background:new 0 0 28 28;" xml:space="preserve"> <g> <g id="x"> <g> <polygon  points="28,22.398 19.594,14 28,5.602 22.398,0 14,8.402 5.598,0 0,5.602 8.398,14 0,22.398 5.598,28 14,19.598 22.398,28 			"/> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
			</li></ul></li><li class="content"><div class="msg sent"><ul><li class="topLevel"><ul><li class="senderName">Jan Jurman</li><li class="time">23 Jan 2:00 pm</li></ul></li><li class="bottomLevel"><ul><li class="msgContent">To si res sam dzajniral? Pa ti si neverjeten Henčič!</li><li class="senderPic"><img src="/images/jurman.jpg"></li></ul></li></ul></div><div class="msg received"><ul><li class="topLevel"><ul><li class="senderName">Jan Henčič</li><li class="time">23 Jan 2:00 pm</li></ul></li><li class="bottomLevel"><ul><li class="msgContent">Jap. Skoda da nisi taki mojster ko jas...</li><li class="senderPic"><img src="/images/hencic.jpg"></li></ul></li></ul></div><div class="msg sent"><ul><li class="topLevel"><ul><li class="senderName">Jan Jurman</li><li class="time">23 Jan 2:00 pm</li></ul></li><li class="bottomLevel"><ul><li class="msgContent">Res je! Moram se še dosti naučit.</li><li class="senderPic"><img src="/images/jurman.jpg"></li></ul></li></ul></div></li><li class="input"><input type="text" placeholder="Type a message"></li></ul>
	</div>

</div>