<div class='cssMenu'>
	<ul>
		<li class="floatLeft dot hide"><a href=''><span>Home</span></a></li>
		<li class="floatLeft dot hide"><a href=''><span>Chat</span></a></li>
		<li class="floatLeft dot hide"><a href=''><span>Leaderboard</span></a></li>
		<li class="floatLeft hide"><a href=''><span>Play</span></a></li>
		<li class="floatRight"><a href=''><span>Logout</span></a></li>
		<li class="floatRight dot"><a href=''><span>Profile</span></a></li>
	</ul>
</div>