.Content
{
	padding-top: 50px;
	height: calc(100% - 50px);
	width: 100%;
}

.Content .GameWindowContainer
{
	padding: 10px;
	height: calc(100% - 66px);
	width: calc(100% - 20px);
	margin: 0;
}

.switch label
{
	display: none;
}